.root {
	position: relative;
	min-height: 400px;
}

.form {
	transition: all 0.2s ease-in-out;
	&.loading {
		opacity: 0;
	}
}

.someRow {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	grid-gap: var(--base--spaces--4);
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	margin: var(--base--spaces--4) 0;
}
