.root {
	position: relative;
	box-shadow: var(--base--box-shadow-1);
	background-color: var(--base--color--white);
	padding: var(--base--spaces--5) 0;
}

.headerWrapper {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	grid-gap: var(--base--spaces--5);
}
