.root {
	display: flex;
	justify-content: center;
	grid-gap: var(--base--spaces--3);
	.socialIcon {
		font-size: var(--base--font--size-sm);
		transition: all 0.2s ease-in-out;
		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		background-color: var(--base--color--main-bg);
		border-radius: var(--base--border-radius-circle);
		&.facebook {
			&:hover {
				color: var(--base--color--white);
				background-color: var(--base--color--facebook);
			}
		}
		&.twitter {
			&:hover {
				color: var(--base--color--white);
				background-color: var(--base--color--twitter);
			}
		}
		&.github {
			&:hover {
				color: var(--base--color--white);
				background-color: var(--base--color--github);
			}
		}
		&.instagram {
			&:hover {
				color: var(--base--color--white);
				background-color: var(--base--color--instagram);
			}
		}
		&.linkedin {
			&:hover {
				color: var(--base--color--white);
				background-color: var(--base--color--linkedin);
			}
		}
	}
}
