.post {
	position: relative;
	.author {
		margin-bottom: var(--base--spaces--2);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
		.left {
			display: grid;
			grid-template-columns: 40px auto;
			align-items: center;
			grid-gap: var(--base--spaces--3);
			padding: var(--base--spaces--1) var(--base--spaces--3) var(--base--spaces--1)
				var(--base--spaces--1);
			border-radius: var(--base--border-radius-3);
			transition: all 0.2s ease-in-out;
			&:hover {
				background-color: var(--base--color--main-bg);
			}
			.info {
				display: grid;
				grid-template-columns: repeat(1, 1fr);
				grid-gap: var(--base--spaces--1);
				.name,
				.location {
					font-size: var(--base--font--size-sm);
				}
			}
		}
		.right {
			.icon {
				width: 35px;
				height: 35px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				flex-direction: row;
				background-color: var(--base--color--main-bg);
				border-radius: var(--base--border-radius-circle);
				cursor: pointer;
			}
		}
	}
	.description {
		margin: var(--base--spaces--3) 0;
		p {
			font-size: var(--base--font--size);
		}
	}
	.thumbnail {
		position: relative;
		aspect-ratio: 6 / 5;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.meta {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
		margin: var(--base--spaces--4) 0 0;
		.left {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			flex-direction: row;
			grid-gap: var(--base--spaces--4);
		}
		> div {
			span {
				font-size: var(--base--font--size-md);
				cursor: pointer;
				&.active {
					color: var(--base--color--main);
				}
			}
		}
	}
	.removeBtn {
		background-color: transparent;
		outline: none;
		border: none;
		opacity: 0;
		color: var(--base--color--main);
		cursor: pointer;
		transition: all 0.2s ease-in-out;
	}
	&:hover {
		.removeBtn {
			opacity: 1;
		}
	}
}
