.root {
	position: relative;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: var(--base--spaces--2);
	.row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
		span {
			font-size: var(--base--font--size);
			color: var(--base--color--text);
		}
	}
}
