.root {
	margin-bottom: var(--base--spaces--1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	transition: all 0.2s ease-in-out;
	padding: var(--base--spaces--1);
	border-radius: var(--base--border-radius-3);
	&:hover {
		background-color: var(--base--color--main-bg);
	}
	.left {
		display: grid;
		grid-template-columns: 40px auto;
		align-items: center;
		grid-gap: var(--base--spaces--3);
	}
	.right {
		.icon {
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			flex-direction: row;
			background-color: var(--base--color--main-bg);
			border-radius: var(--base--border-radius-circle);
			svg {
				cursor: pointer;
			}
		}
	}
}
