.root {
	display: grid;
	grid-template-columns: 50px 1fr;
	align-items: flex-start;
	column-gap: var(--base--spaces--4);
	row-gap: var(--base--spaces--2);
	@media screen and (max-width: 576px) {
		grid-template-columns: 1fr;
	}
	form {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: var(--base--spaces--2);
		.addText {
			display: grid;
			grid-template-columns: 1fr auto;
			grid-gap: 15px;
			background-color: var(--base--color--main-bg);
			border-radius: var(--base--border-radius-4);
			overflow: hidden;
			@media screen and (max-width: 576px) {
				grid-template-columns: 1fr;
			}
		}
	}
	.options {
		grid-column-start: 1;
		grid-column-end: -1;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: var(--base--spaces--2);
		width: 90%;
		margin-left: auto;
		@media screen and (max-width: 576px) {
			width: 100%;
		}
		.optionsItems {
			position: relative;
		}
		.handleButtons {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			flex-direction: row;
			grid-gap: var(--base--spaces--5);
			.handleBtn {
				display: grid;
				grid-template-columns: 20px 1fr;
				align-items: center;
				grid-gap: var(--base--spaces--3);
				cursor: pointer;
				> * {
					transition: all 0.2s ease-in-out;
				}
				&:hover {
					> * {
						color: var(--base--color--main);
					}
				}
			}
			.handleClose {
				justify-self: flex-end;
				color: var(--base--color--main);
				cursor: pointer;
			}
		}
	}
}
