.root {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	flex-direction: row;
	grid-gap: var(--base--spaces--2);
	position: relative;
}

.icon {
	background-color: transparent;
	border-radius: var(--base--border-radius-circle);
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	color: var(--base--color--text);
	position: relative;
	svg {
		height: auto;
	}
	&:hover {
		background-color: var(--base--color--main-bg);
	}
	.notificationCount {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 10px;
		background-color: var(--base--color--main);
		color: var(--base--color--white);
		border-radius: 50%;
		width: 15px;
		height: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
	}
}
